<h1>{{ question.question_text }}</h1>
<form action="{% url 'polls:vote' question.pk %}" method="post">
    {% csrf_token %}
    <fieldset>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choicefor{{ choice.choice_text }}" value="{{ choice.id }}">
            <label for="choicefor{{ choice.choice_text }}" id="choice-{{ choice.choice_text }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" id="votebtn" value="Vote">
</form>

<p>{{error_message}}</p>